.headerForm{
    font-weight: 700;
}

.telForm{
    color: black;
    text-decoration:underline black ;
}
.telForm:hover{
        color: blue;
        
}

.nombreForm{
    cursor: pointer;
    color: blue;
    font-weight: 700;
}

.nombreForm:hover{
    color:black;
}

.containerBuscadorManager{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.botonBuscar{
    margin-right: 10px;
}

.sinResultados{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonBackDist{
    cursor: pointer;
    border-radius: 50%;
}
.buttonBackDist:hover{
    background-color: black;
    color: white;
}